body {
  background: rgb(20,13,122);
  background: linear-gradient(180deg, rgba(20,13,122,1) 0%, rgba(5,6,121,1) 23%, rgba(0,212,255,1) 100%);
  background-repeat: no-repeat;
  background-size: 1600px 1000px;
}
.crash {
  height: 20px;
  left: 70%;
  position: fixed;
  top: 20%;
  font-family: 'Sniglet', cursive;
  float: inherit;
  font-size: 50px;
  color: white;
}
.cliff {
  margin: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: flex-start;
}
.waves {
  margin: 0;
  position: absolute;
  top: 72%;
  left: 30%;
  font-family: 'Sniglet', cursive;
  color: white;
  font-size: 30px;
  transform: rotate(-27deg);
  animation-name: crash1;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes crash1 {
  0%   {left:25%;}
  50%  {left:30%;}
  100% {left:25%;}
}
.waves2 {
  margin: 0;
  position: absolute;
  top: 72%;
  left: 30%;
  font-family: 'Sniglet', cursive;
  color: white;
  font-size: 30px;
  transform: rotate(-27deg);
  animation-name: crash2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes crash2 {
  0%   {left:27%;}
  50%  {left:30%;}
  100% {left:27%;}
}
.waves3 {
  margin: 0;
  position: absolute;
  top: 68%;
  left: 30%;
  font-family: 'Sniglet', cursive;
  color: white;
  font-size: 30px;
  transform: rotate(-27deg);
  animation-name: crash3;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes crash3 {
  0%   {left:35%;}
  50%  {left:37%;}
  100% {left:35%;}
}
.water {
  margin: 0;
  position: absolute;
  top: 40%;
  font-family: 'Sniglet', cursive;
  color: white;
  font-size: 30px;
  transform: rotate(-90deg);
  animation-name: wav;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes wav {
  0%   {left:66.5%;}
  50%  {left:71.5%;}
  100% {left:66.5%;}
}
.water2 {
  margin: 0;
  position: absolute;
  top: 40%;
  font-family: 'Sniglet', cursive;
  color: white;
  font-size: 30px;
  transform: rotate(-90deg);
  animation-name: wav2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes wav2 {
  0%   {left:65%;}
  50%  {left:70%;}
  100% {left:65%;}
}
.trash {
  margin: 0;
  position: absolute;
  top: 71%;
  font-family: 'Sniglet', cursive;
  color: white;
  font-size: 30px;
  transform: rotate(-27deg);
  animation-name: spash;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes spash {
  0%   {left:27%;}
  50%  {left:34%;}
  100% {left:27%;}
}
.trash2 {
  margin: 0;
  position: absolute;
  top: 73.5%;
  font-family: 'Sniglet', cursive;
  color: white;
  font-size: 30px;
  transform: rotate(-27deg);
  animation-name: spash2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes spash2 {
  0%   {left:30%;}
  50%  {left:39%;}
  100% {left:30%;}
}
.trash3 {
  margin: 0;
  position: absolute;
  top: 75.5%;
  font-family: 'Sniglet', cursive;
  color: white;
  font-size: 30px;
  transform: rotate(-27deg);
  animation-name: spash3;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes spash3 {
  0%   {left:32%;}
  50%  {left:44%;}
  100% {left:32%;}
}
.trash4 {
  margin: 0;
  position: absolute;
  top: 78%;
  font-family: 'Sniglet', cursive;
  color: white;
  font-size: 30px;
  transform: rotate(-27deg);
  animation-name: spash4;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes spash4 {
  0%   {left:35%;}
  50%  {left:49%;}
  100% {left:35%;}
}
.trash5 {
  margin: 0;
  position: absolute;
  top: 79.5%;
  font-family: 'Sniglet', cursive;
  color: white;
  font-size: 30px;
  transform: rotate(-27deg);
  animation-name: spash5;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes spash5 {
  0%   {left:38%;}
  50%  {left:53%;}
  100% {left:38%;}
}
.trash6 {
  margin: 0;
  position: absolute;
  top: 81%;
  font-family: 'Sniglet', cursive;
  color: white;
  font-size: 30px;
  transform: rotate(-27deg);
  animation-name: spash6;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes spash6 {
  0%   {left:40%;}
  50%  {left:58%;}
  100% {left:40%;}
}
.garbo {
  margin: 0;
  position: absolute;
  left: 40%;
  font-family: 'Sniglet', cursive;
  color: white;
  font-size: 30px;
  animation-name: garb;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes garb {
  0%   {top:63%;}
  50%  {top:67%;}
  100% {top:63%;}
}
.page1 {
  margin: 0;
  position: absolute;
  top: 0%;
  left: 0%;
}
.page1 {
  border-radius: 4px;
  background-color: #84ffff;
  border: none;
  color: #FFFFFF;
  font-family: 'Sniglet', cursive;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.page1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.page1 span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -25px;
  transition: 0.5s;
}
.page1:hover span {
  padding-left: 25px;
}
.page1:hover span:after {
  opacity: 1;
  left: 0;
}
.page3 {
  margin: 0;
  position: absolute;
  top: 0%;
  left: 86%;
}
.page3 {
  border-radius: 4px;
  background-color: #84ffff;
  border: none;
  color: #FFFFFF;
  font-family: 'Sniglet', cursive;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.page3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.page3 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.page3:hover span {
  padding-right: 25px;
}
.page3:hover span:after {
  opacity: 1;
  right: 0;
}
